## SQL Queries

In [1]:
from pyspark.sql import SparkSession

import findspark
findspark.init()

In [2]:
spark = SparkSession.builder.getOrCreate()

In [5]:
df = spark.read.csv('iris_csv.csv', header=True, inferSchema=True)

In [6]:
df.show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|variety|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| Setosa|
|         4.9|        3.0|         1.4|        0.2| Setosa|
|         4.7|        3.2|         1.3|        0.2| Setosa|
|         4.6|        3.1|         1.5|        0.2| Setosa|
|         5.0|        3.6|         1.4|        0.2| Setosa|
|         5.4|        3.9|         1.7|        0.4| Setosa|
|         4.6|        3.4|         1.4|        0.3| Setosa|
|         5.0|        3.4|         1.5|        0.2| Setosa|
|         4.4|        2.9|         1.4|        0.2| Setosa|
|         4.9|        3.1|         1.5|        0.1| Setosa|
|         5.4|        3.7|         1.5|        0.2| Setosa|
|         4.8|        3.4|         1.6|        0.2| Setosa|
|         4.8|        3.0|         1.4|        0.1| Setosa|
|         4.3|        3.0|         1.1|        0.1| Setosa|
|         5.8|        4.0|         1.2|        0.2| Setosa|
|         5.7|        4.4|         1.5|        0.4| Setosa|
|         5.4|        3.9|         1.3|        0.4| Setosa|
|         5.1|        3.5|         1.4|        0.3| Setosa|
|         5.7|        3.8|         1.7|        0.3| Setosa|
|         5.1|        3.8|         1.5|        0.3| Setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- variety: string (nullable = true)

In [9]:
df.createOrReplaceTempView("df")

In [12]:
spark.sql("select * from df").show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|variety|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| Setosa|
|         4.9|        3.0|         1.4|        0.2| Setosa|
|         4.7|        3.2|         1.3|        0.2| Setosa|
|         4.6|        3.1|         1.5|        0.2| Setosa|
|         5.0|        3.6|         1.4|        0.2| Setosa|
|         5.4|        3.9|         1.7|        0.4| Setosa|
|         4.6|        3.4|         1.4|        0.3| Setosa|
|         5.0|        3.4|         1.5|        0.2| Setosa|
|         4.4|        2.9|         1.4|        0.2| Setosa|
|         4.9|        3.1|         1.5|        0.1| Setosa|
|         5.4|        3.7|         1.5|        0.2| Setosa|
|         4.8|        3.4|         1.6|        0.2| Setosa|
|         4.8|        3.0|         1.4|        0.1| Setosa|
|         4.3|        3.0|         1.1|        0.1| Setosa|
|         5.8|        4.0|         1.2|        0.2| Setosa|
|         5.7|        4.4|         1.5|        0.4| Setosa|
|         5.4|        3.9|         1.3|        0.4| Setosa|
|         5.1|        3.5|         1.4|        0.3| Setosa|
|         5.7|        3.8|         1.7|        0.3| Setosa|
|         5.1|        3.8|         1.5|        0.3| Setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [15]:
spark.sql("select variety,count(*) as count_of_variety from df group by variety").show()

+----------+----------------+
|   variety|count_of_variety|
+----------+----------------+
| Virginica|              50|
|    Setosa|              50|
|Versicolor|              50|
+----------+----------------+

In [17]:
spark.sql("select count(*) from df").show()

+--------+
|count(1)|
+--------+
|     150|
+--------+

In [18]:
spark.sql("select variety, sepal_width from df where sepal_width < 3").show()

+----------+-----------+
|   variety|sepal_width|
+----------+-----------+
|    Setosa|        2.9|
|    Setosa|        2.3|
|Versicolor|        2.3|
|Versicolor|        2.8|
|Versicolor|        2.8|
|Versicolor|        2.4|
|Versicolor|        2.9|
|Versicolor|        2.7|
|Versicolor|        2.0|
|Versicolor|        2.2|
|Versicolor|        2.9|
|Versicolor|        2.9|
|Versicolor|        2.7|
|Versicolor|        2.2|
|Versicolor|        2.5|
|Versicolor|        2.8|
|Versicolor|        2.5|
|Versicolor|        2.8|
|Versicolor|        2.9|
|Versicolor|        2.8|
+----------+-----------+
only showing top 20 rows

In [20]:
sqldf = spark.sql("select variety, sepal_width from df where sepal_width < 3")

In [21]:
sqldf.show()

+----------+-----------+
|   variety|sepal_width|
+----------+-----------+
|    Setosa|        2.9|
|    Setosa|        2.3|
|Versicolor|        2.3|
|Versicolor|        2.8|
|Versicolor|        2.8|
|Versicolor|        2.4|
|Versicolor|        2.9|
|Versicolor|        2.7|
|Versicolor|        2.0|
|Versicolor|        2.2|
|Versicolor|        2.9|
|Versicolor|        2.9|
|Versicolor|        2.7|
|Versicolor|        2.2|
|Versicolor|        2.5|
|Versicolor|        2.8|
|Versicolor|        2.5|
|Versicolor|        2.8|
|Versicolor|        2.9|
|Versicolor|        2.8|
+----------+-----------+
only showing top 20 rows