In [1]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv(r'test1.csv')

     Name  age
0  Vishnu   22
1  Vardan   23
2     Ram   24

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark= spark.read.csv('test1.csv')

In [9]:
df_pyspark.read.option('header','true').csv('test1.csv')

+------+---+
|   _c0|_c1|
+------+---+
|  Name|age|
|Vishnu| 22|
|Vardan| 23|
|   Ram| 24|
+------+---+