In [1]:
from pyspark.sql import SparkSession

import findspark
findspark.init()

In [2]:
spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

# Spark DataFrame

In [3]:
from pyspark.sql.types import Row, StructField, StructType, StringType, IntegerType

# One way to create a DataFrame is to first define an RDD from a list of Rows

some_rdd = sc.parallelize([Row(name='John', age=19),
                          Row(name='Smith', age=23),
                          Row(name='sarah', age=18)])

some_rdd.collect()

[Row(name='John', age=19),
 Row(name='Smith', age=23),
 Row(name='sarah', age=18)]

In [4]:
# The DataFrame is created from the RDD or Rows
# Infer schema from the first row, create a DataFrame and print the schema

some_df = spark.createDataFrame(some_rdd)
some_df.printSchema()
some_df.show()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

+-----+---+
| name|age|
+-----+---+
| John| 19|
|Smith| 23|
|sarah| 18|
+-----+---+

In [5]:
# A dataframe is an RDD of rows plus information on the schema.
# performing **collect()* on either the RDD or the DataFrame gives the same result.

print(type(some_rdd), type(some_df))
some_df.show()

<class 'pyspark.rdd.RDD'> <class 'pyspark.sql.dataframe.DataFrame'>
+-----+---+
| name|age|
+-----+---+
| John| 19|
|Smith| 23|
|sarah| 18|
+-----+---+

In [6]:
data = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd = sc.parallelize(data)
dfFromRDD1 = spark.createDataFrame(rdd)
dfFromRDD1.printSchema()
dfFromRDD1.show()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+------+------+
|    _1|    _2|
+------+------+
|  Java| 20000|
|Python|100000|
| Scala|  3000|
+------+------+

In [7]:
dfFromRDD2 = rdd.toDF(["language", "users_count"])
dfFromRDD2.printSchema()
dfFromRDD2.show()

root
 |-- language: string (nullable = true)
 |-- users_count: long (nullable = true)

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [9]:
dfFromRDD3 = spark.createDataFrame(rdd, schema = "language string, users_count long")

dfFromRDD3.printSchema()
dfFromRDD3.show()

root
 |-- language: string (nullable = true)
 |-- users_count: long (nullable = true)

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [11]:
# To create one column

data11 = [("Java",), ("Python",), ("Scala",)]
rdd11 = sc.parallelize(data11)
dfFromRDD11 = spark.createDataFrame(rdd11)
dfFromRDD11.printSchema()
dfFromRDD11.show()

root
 |-- _1: string (nullable = true)

+------+
|    _1|
+------+
|  Java|
|Python|
| Scala|
+------+

In [17]:
from pyspark.sql.types import Row, StructField, StructType, StringType, IntegerType

# In this case we create the dataframe from an RDD of tuples (rather than rows)

another_rdd = sc.parallelize([("John", 19), ("Smith", 23), ("Sarah", 18)])

# Schema with two fields - person_name and person_age

schema = StructType([StructField("person_name", StringType(), False),
                    StructField("person_age", IntegerType(), False)])

# Create a DataFrame by applying the Schema to the RDD and print the schema

another_df = spark.createDataFrame(another_rdd, schema)

another_df.printSchema()
another_df.show()

root
 |-- person_name: string (nullable = false)
 |-- person_age: integer (nullable = false)

+-----------+----------+
|person_name|person_age|
+-----------+----------+
|       John|        19|
|      Smith|        23|
|      Sarah|        18|
+-----------+----------+

In [21]:
# when loading csv files you can specify either a single file or a directory containing many csv files.

iris_df = spark.read.csv("iris_csv.csv", inferSchema=True, header=True)

iris_df.show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|variety|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| Setosa|
|         4.9|        3.0|         1.4|        0.2| Setosa|
|         4.7|        3.2|         1.3|        0.2| Setosa|
|         4.6|        3.1|         1.5|        0.2| Setosa|
|         5.0|        3.6|         1.4|        0.2| Setosa|
|         5.4|        3.9|         1.7|        0.4| Setosa|
|         4.6|        3.4|         1.4|        0.3| Setosa|
|         5.0|        3.4|         1.5|        0.2| Setosa|
|         4.4|        2.9|         1.4|        0.2| Setosa|
|         4.9|        3.1|         1.5|        0.1| Setosa|
|         5.4|        3.7|         1.5|        0.2| Setosa|
|         4.8|        3.4|         1.6|        0.2| Setosa|
|         4.8|        3.0|         1.4|        0.1| Setosa|
|         4.3|        3.0|         1.1|        0.1| Setosa|
|         5.8|        4.0|         1.2|        0.2| Setosa|
|         5.7|        4.4|         1.5|        0.4| Setosa|
|         5.4|        3.9|         1.3|        0.4| Setosa|
|         5.1|        3.5|         1.4|        0.3| Setosa|
|         5.7|        3.8|         1.7|        0.3| Setosa|
|         5.1|        3.8|         1.5|        0.3| Setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [23]:
iris_df.collect()

[Row(sepal_length=5.1, sepal_width=3.5, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.9, sepal_width=3.0, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.7, sepal_width=3.2, petal_length=1.3, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.6, sepal_width=3.1, petal_length=1.5, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.0, sepal_width=3.6, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.4, sepal_width=3.9, petal_length=1.7, petal_width=0.4, variety='Setosa'),
 Row(sepal_length=4.6, sepal_width=3.4, petal_length=1.4, petal_width=0.3, variety='Setosa'),
 Row(sepal_length=5.0, sepal_width=3.4, petal_length=1.5, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.4, sepal_width=2.9, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.9, sepal_width=3.1, petal_length=1.5, petal_width=0.1, variety='Setosa'),
 Row(sepal_length=5.4, sepal_width=3.7, petal_length=1.5, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.8, sepal_width=3.4, petal_length=1.6, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.8, sepal_width=3.0, petal_length=1.4, petal_width=0.1, variety='Setosa'),
 Row(sepal_length=4.3, sepal_width=3.0, petal_length=1.1, petal_width=0.1, variety='Setosa'),
 Row(sepal_length=5.8, sepal_width=4.0, petal_length=1.2, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.7, sepal_width=4.4, petal_length=1.5, petal_width=0.4, variety='Setosa'),
 Row(sepal_length=5.4, sepal_width=3.9, petal_length=1.3, petal_width=0.4, variety='Setosa'),
 Row(sepal_length=5.1, sepal_width=3.5, petal_length=1.4, petal_width=0.3, variety='Setosa'),
 Row(sepal_length=5.7, sepal_width=3.8, petal_length=1.7, petal_width=0.3, variety='Setosa'),
 Row(sepal_length=5.1, sepal_width=3.8, petal_length=1.5, petal_width=0.3, variety='Setosa'),
 Row(sepal_length=5.4, sepal_width=3.4, petal_length=1.7, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.1, sepal_width=3.7, petal_length=1.5, petal_width=0.4, variety='Setosa'),
 Row(sepal_length=4.6, sepal_width=3.6, petal_length=1.0, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.1, sepal_width=3.3, petal_length=1.7, petal_width=0.5, variety='Setosa'),
 Row(sepal_length=4.8, sepal_width=3.4, petal_length=1.9, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.0, sepal_width=3.0, petal_length=1.6, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.0, sepal_width=3.4, petal_length=1.6, petal_width=0.4, variety='Setosa'),
 Row(sepal_length=5.2, sepal_width=3.5, petal_length=1.5, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.2, sepal_width=3.4, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.7, sepal_width=3.2, petal_length=1.6, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.8, sepal_width=3.1, petal_length=1.6, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.4, sepal_width=3.4, petal_length=1.5, petal_width=0.4, variety='Setosa'),
 Row(sepal_length=5.2, sepal_width=4.1, petal_length=1.5, petal_width=0.1, variety='Setosa'),
 Row(sepal_length=5.5, sepal_width=4.2, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.9, sepal_width=3.1, petal_length=1.5, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.0, sepal_width=3.2, petal_length=1.2, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.5, sepal_width=3.5, petal_length=1.3, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.9, sepal_width=3.6, petal_length=1.4, petal_width=0.1, variety='Setosa'),
 Row(sepal_length=4.4, sepal_width=3.0, petal_length=1.3, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.1, sepal_width=3.4, petal_length=1.5, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.0, sepal_width=3.5, petal_length=1.3, petal_width=0.3, variety='Setosa'),
 Row(sepal_length=4.5, sepal_width=2.3, petal_length=1.3, petal_width=0.3, variety='Setosa'),
 Row(sepal_length=4.4, sepal_width=3.2, petal_length=1.3, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.0, sepal_width=3.5, petal_length=1.6, petal_width=0.6, variety='Setosa'),
 Row(sepal_length=5.1, sepal_width=3.8, petal_length=1.9, petal_width=0.4, variety='Setosa'),
 Row(sepal_length=4.8, sepal_width=3.0, petal_length=1.4, petal_width=0.3, variety='Setosa'),
 Row(sepal_length=5.1, sepal_width=3.8, petal_length=1.6, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.6, sepal_width=3.2, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.3, sepal_width=3.7, petal_length=1.5, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=5.0, sepal_width=3.3, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=7.0, sepal_width=3.2, petal_length=4.7, petal_width=1.4, variety='Versicolor'),
 Row(sepal_length=6.4, sepal_width=3.2, petal_length=4.5, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=6.9, sepal_width=3.1, petal_length=4.9, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=5.5, sepal_width=2.3, petal_length=4.0, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=6.5, sepal_width=2.8, petal_length=4.6, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=5.7, sepal_width=2.8, petal_length=4.5, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=6.3, sepal_width=3.3, petal_length=4.7, petal_width=1.6, variety='Versicolor'),
 Row(sepal_length=4.9, sepal_width=2.4, petal_length=3.3, petal_width=1.0, variety='Versicolor'),
 Row(sepal_length=6.6, sepal_width=2.9, petal_length=4.6, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=5.2, sepal_width=2.7, petal_length=3.9, petal_width=1.4, variety='Versicolor'),
 Row(sepal_length=5.0, sepal_width=2.0, petal_length=3.5, petal_width=1.0, variety='Versicolor'),
 Row(sepal_length=5.9, sepal_width=3.0, petal_length=4.2, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=6.0, sepal_width=2.2, petal_length=4.0, petal_width=1.0, variety='Versicolor'),
 Row(sepal_length=6.1, sepal_width=2.9, petal_length=4.7, petal_width=1.4, variety='Versicolor'),
 Row(sepal_length=5.6, sepal_width=2.9, petal_length=3.6, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=6.7, sepal_width=3.1, petal_length=4.4, petal_width=1.4, variety='Versicolor'),
 Row(sepal_length=5.6, sepal_width=3.0, petal_length=4.5, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=5.8, sepal_width=2.7, petal_length=4.1, petal_width=1.0, variety='Versicolor'),
 Row(sepal_length=6.2, sepal_width=2.2, petal_length=4.5, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=5.6, sepal_width=2.5, petal_length=3.9, petal_width=1.1, variety='Versicolor'),
 Row(sepal_length=5.9, sepal_width=3.2, petal_length=4.8, petal_width=1.8, variety='Versicolor'),
 Row(sepal_length=6.1, sepal_width=2.8, petal_length=4.0, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=6.3, sepal_width=2.5, petal_length=4.9, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=6.1, sepal_width=2.8, petal_length=4.7, petal_width=1.2, variety='Versicolor'),
 Row(sepal_length=6.4, sepal_width=2.9, petal_length=4.3, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=6.6, sepal_width=3.0, petal_length=4.4, petal_width=1.4, variety='Versicolor'),
 Row(sepal_length=6.8, sepal_width=2.8, petal_length=4.8, petal_width=1.4, variety='Versicolor'),
 Row(sepal_length=6.7, sepal_width=3.0, petal_length=5.0, petal_width=1.7, variety='Versicolor'),
 Row(sepal_length=6.0, sepal_width=2.9, petal_length=4.5, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=5.7, sepal_width=2.6, petal_length=3.5, petal_width=1.0, variety='Versicolor'),
 Row(sepal_length=5.5, sepal_width=2.4, petal_length=3.8, petal_width=1.1, variety='Versicolor'),
 Row(sepal_length=5.5, sepal_width=2.4, petal_length=3.7, petal_width=1.0, variety='Versicolor'),
 Row(sepal_length=5.8, sepal_width=2.7, petal_length=3.9, petal_width=1.2, variety='Versicolor'),
 Row(sepal_length=6.0, sepal_width=2.7, petal_length=5.1, petal_width=1.6, variety='Versicolor'),
 Row(sepal_length=5.4, sepal_width=3.0, petal_length=4.5, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=6.0, sepal_width=3.4, petal_length=4.5, petal_width=1.6, variety='Versicolor'),
 Row(sepal_length=6.7, sepal_width=3.1, petal_length=4.7, petal_width=1.5, variety='Versicolor'),
 Row(sepal_length=6.3, sepal_width=2.3, petal_length=4.4, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=5.6, sepal_width=3.0, petal_length=4.1, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=5.5, sepal_width=2.5, petal_length=4.0, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=5.5, sepal_width=2.6, petal_length=4.4, petal_width=1.2, variety='Versicolor'),
 Row(sepal_length=6.1, sepal_width=3.0, petal_length=4.6, petal_width=1.4, variety='Versicolor'),
 Row(sepal_length=5.8, sepal_width=2.6, petal_length=4.0, petal_width=1.2, variety='Versicolor'),
 Row(sepal_length=5.0, sepal_width=2.3, petal_length=3.3, petal_width=1.0, variety='Versicolor'),
 Row(sepal_length=5.6, sepal_width=2.7, petal_length=4.2, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=5.7, sepal_width=3.0, petal_length=4.2, petal_width=1.2, variety='Versicolor'),
 Row(sepal_length=5.7, sepal_width=2.9, petal_length=4.2, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=6.2, sepal_width=2.9, petal_length=4.3, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=5.1, sepal_width=2.5, petal_length=3.0, petal_width=1.1, variety='Versicolor'),
 Row(sepal_length=5.7, sepal_width=2.8, petal_length=4.1, petal_width=1.3, variety='Versicolor'),
 Row(sepal_length=6.3, sepal_width=3.3, petal_length=6.0, petal_width=2.5, variety='Virginica'),
 Row(sepal_length=5.8, sepal_width=2.7, petal_length=5.1, petal_width=1.9, variety='Virginica'),
 Row(sepal_length=7.1, sepal_width=3.0, petal_length=5.9, petal_width=2.1, variety='Virginica'),
 Row(sepal_length=6.3, sepal_width=2.9, petal_length=5.6, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=6.5, sepal_width=3.0, petal_length=5.8, petal_width=2.2, variety='Virginica'),
 Row(sepal_length=7.6, sepal_width=3.0, petal_length=6.6, petal_width=2.1, variety='Virginica'),
 Row(sepal_length=4.9, sepal_width=2.5, petal_length=4.5, petal_width=1.7, variety='Virginica'),
 Row(sepal_length=7.3, sepal_width=2.9, petal_length=6.3, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=6.7, sepal_width=2.5, petal_length=5.8, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=7.2, sepal_width=3.6, petal_length=6.1, petal_width=2.5, variety='Virginica'),
 Row(sepal_length=6.5, sepal_width=3.2, petal_length=5.1, petal_width=2.0, variety='Virginica'),
 Row(sepal_length=6.4, sepal_width=2.7, petal_length=5.3, petal_width=1.9, variety='Virginica'),
 Row(sepal_length=6.8, sepal_width=3.0, petal_length=5.5, petal_width=2.1, variety='Virginica'),
 Row(sepal_length=5.7, sepal_width=2.5, petal_length=5.0, petal_width=2.0, variety='Virginica'),
 Row(sepal_length=5.8, sepal_width=2.8, petal_length=5.1, petal_width=2.4, variety='Virginica'),
 Row(sepal_length=6.4, sepal_width=3.2, petal_length=5.3, petal_width=2.3, variety='Virginica'),
 Row(sepal_length=6.5, sepal_width=3.0, petal_length=5.5, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=7.7, sepal_width=3.8, petal_length=6.7, petal_width=2.2, variety='Virginica'),
 Row(sepal_length=7.7, sepal_width=2.6, petal_length=6.9, petal_width=2.3, variety='Virginica'),
 Row(sepal_length=6.0, sepal_width=2.2, petal_length=5.0, petal_width=1.5, variety='Virginica'),
 Row(sepal_length=6.9, sepal_width=3.2, petal_length=5.7, petal_width=2.3, variety='Virginica'),
 Row(sepal_length=5.6, sepal_width=2.8, petal_length=4.9, petal_width=2.0, variety='Virginica'),
 Row(sepal_length=7.7, sepal_width=2.8, petal_length=6.7, petal_width=2.0, variety='Virginica'),
 Row(sepal_length=6.3, sepal_width=2.7, petal_length=4.9, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=6.7, sepal_width=3.3, petal_length=5.7, petal_width=2.1, variety='Virginica'),
 Row(sepal_length=7.2, sepal_width=3.2, petal_length=6.0, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=6.2, sepal_width=2.8, petal_length=4.8, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=6.1, sepal_width=3.0, petal_length=4.9, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=6.4, sepal_width=2.8, petal_length=5.6, petal_width=2.1, variety='Virginica'),
 Row(sepal_length=7.2, sepal_width=3.0, petal_length=5.8, petal_width=1.6, variety='Virginica'),
 Row(sepal_length=7.4, sepal_width=2.8, petal_length=6.1, petal_width=1.9, variety='Virginica'),
 Row(sepal_length=7.9, sepal_width=3.8, petal_length=6.4, petal_width=2.0, variety='Virginica'),
 Row(sepal_length=6.4, sepal_width=2.8, petal_length=5.6, petal_width=2.2, variety='Virginica'),
 Row(sepal_length=6.3, sepal_width=2.8, petal_length=5.1, petal_width=1.5, variety='Virginica'),
 Row(sepal_length=6.1, sepal_width=2.6, petal_length=5.6, petal_width=1.4, variety='Virginica'),
 Row(sepal_length=7.7, sepal_width=3.0, petal_length=6.1, petal_width=2.3, variety='Virginica'),
 Row(sepal_length=6.3, sepal_width=3.4, petal_length=5.6, petal_width=2.4, variety='Virginica'),
 Row(sepal_length=6.4, sepal_width=3.1, petal_length=5.5, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=6.0, sepal_width=3.0, petal_length=4.8, petal_width=1.8, variety='Virginica'),
 Row(sepal_length=6.9, sepal_width=3.1, petal_length=5.4, petal_width=2.1, variety='Virginica'),
 Row(sepal_length=6.7, sepal_width=3.1, petal_length=5.6, petal_width=2.4, variety='Virginica'),
 Row(sepal_length=6.9, sepal_width=3.1, petal_length=5.1, petal_width=2.3, variety='Virginica'),
 Row(sepal_length=5.8, sepal_width=2.7, petal_length=5.1, petal_width=1.9, variety='Virginica'),
 Row(sepal_length=6.8, sepal_width=3.2, petal_length=5.9, petal_width=2.3, variety='Virginica'),
 Row(sepal_length=6.7, sepal_width=3.3, petal_length=5.7, petal_width=2.5, variety='Virginica'),
 Row(sepal_length=6.7, sepal_width=3.0, petal_length=5.2, petal_width=2.3, variety='Virginica'),
 Row(sepal_length=6.3, sepal_width=2.5, petal_length=5.0, petal_width=1.9, variety='Virginica'),
 Row(sepal_length=6.5, sepal_width=3.0, petal_length=5.2, petal_width=2.0, variety='Virginica'),
 Row(sepal_length=6.2, sepal_width=3.4, petal_length=5.4, petal_width=2.3, variety='Virginica'),
 Row(sepal_length=5.9, sepal_width=3.0, petal_length=5.1, petal_width=1.8, variety='Virginica')]

In [26]:
iris_df.take(2)

[Row(sepal_length=5.1, sepal_width=3.5, petal_length=1.4, petal_width=0.2, variety='Setosa'),
 Row(sepal_length=4.9, sepal_width=3.0, petal_length=1.4, petal_width=0.2, variety='Setosa')]

In [27]:
iris_df.printSchema()

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- variety: string (nullable = true)

In [29]:
iris_df.count()

150

In [31]:
iris_df.select("sepal_length").show()

+------------+
|sepal_length|
+------------+
|         5.1|
|         4.9|
|         4.7|
|         4.6|
|         5.0|
|         5.4|
|         4.6|
|         5.0|
|         4.4|
|         4.9|
|         5.4|
|         4.8|
|         4.8|
|         4.3|
|         5.8|
|         5.7|
|         5.4|
|         5.1|
|         5.7|
|         5.1|
+------------+
only showing top 20 rows

In [33]:
iris_df.filter(iris_df["sepal_length"] < 5).count()

22

In [34]:
iris_df.count()

150

In [35]:
iris_df.sort("sepal_length", ascending = False).show()

+------------+-----------+------------+-----------+----------+
|sepal_length|sepal_width|petal_length|petal_width|   variety|
+------------+-----------+------------+-----------+----------+
|         7.9|        3.8|         6.4|        2.0| Virginica|
|         7.7|        3.8|         6.7|        2.2| Virginica|
|         7.7|        2.8|         6.7|        2.0| Virginica|
|         7.7|        2.6|         6.9|        2.3| Virginica|
|         7.7|        3.0|         6.1|        2.3| Virginica|
|         7.6|        3.0|         6.6|        2.1| Virginica|
|         7.4|        2.8|         6.1|        1.9| Virginica|
|         7.3|        2.9|         6.3|        1.8| Virginica|
|         7.2|        3.2|         6.0|        1.8| Virginica|
|         7.2|        3.6|         6.1|        2.5| Virginica|
|         7.2|        3.0|         5.8|        1.6| Virginica|
|         7.1|        3.0|         5.9|        2.1| Virginica|
|         7.0|        3.2|         4.7|        1.4|Versicolor|
|         6.9|        3.2|         5.7|        2.3| Virginica|
|         6.9|        3.1|         4.9|        1.5|Versicolor|
|         6.9|        3.1|         5.4|        2.1| Virginica|
|         6.9|        3.1|         5.1|        2.3| Virginica|
|         6.8|        2.8|         4.8|        1.4|Versicolor|
|         6.8|        3.0|         5.5|        2.1| Virginica|
|         6.8|        3.2|         5.9|        2.3| Virginica|
+------------+-----------+------------+-----------+----------+
only showing top 20 rows

In [36]:
iris_df.describe().show()

+-------+------------------+-------------------+------------------+------------------+---------+
|summary|      sepal_length|        sepal_width|      petal_length|       petal_width|  variety|
+-------+------------------+-------------------+------------------+------------------+---------+
|  count|               150|                150|               150|               150|      150|
|   mean| 5.843333333333335|  3.057333333333334|3.7580000000000027| 1.199333333333334|     null|
| stddev|0.8280661279778637|0.43586628493669793|1.7652982332594662|0.7622376689603467|     null|
|    min|               4.3|                2.0|               1.0|               0.1|   Setosa|
|    max|               7.9|                4.4|               6.9|               2.5|Virginica|
+-------+------------------+-------------------+------------------+------------------+---------+

In [37]:
iris_df.columns

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'variety']

df = spark.read.json("sample.json")
df.show() --- to show the data
df.collect() --- it returns as list of row objects
df.take(2) --- limit the row object records
df.printSchema() --- to print the schema of all columns
df.count() ----  to check no of rows in a dataframe
df.select("city", "state").show() --- to look only 2 columns city and state

# to filter based on condition

df.filter(df["Zipcode"]> 704).show()

# Like --- it matches alphabet 

df.select("City").filter("City like 'M%' ").show()

# To sort based on state

df.sort("State").show()\


# For descriptive statistics

df.describe().show()


# For all column names

df.columns

# For EXcEL file

df = spark.read.excel("sample.xls")

# To write parquet file

df.write.parquet("df.parquet_1")

# To read parquet file

parquetFile = spark.read.parquet("df.parquet_1")

# To read Text file

df = spark.read.option("header", "true") \
    .option("delimiter", "\t") \
    .option("inferSchema", "true") \
    .csv("sample.txt")

# To write csv file

df.write.csv("iris-flower-tutorial", header=True)

# To read from Github

url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"

# spark.sparkContext.addFile(url)
# df = spark.read.csv(SparkFiles.get('iris.csv'), inferSchema=True, header=True)

In [38]:
# df2=people_df.select("name").where(people_df['name']=='Andy')
# df2.show()

In [39]:
# import pyspark class Row from module sql

from pyspark.sql import *

# Create Example Data - Departments and Employees

# Create the Departments
department1 = Row(id='123456', name='Computer Science')
department2 = Row(id='789012', name='Mechanical Engineering')
department3 = Row(id='345678', name='Theater and Drama')
department4 = Row(id='901234', name='Indoor Recreation')

# Create the Employees

Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee2 = Employee('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
employee3 = Employee('matei', None, 'no-reply@waterloo.edu', 140000)
employee4 = Employee(None, 'wendell', 'no-reply@berkeley.edu', 160000)
employee5 = Employee('michael', 'jackson', 'no-reply@neverla.nd', 80000)

# Create the DepartmentWithEmployees instances from Departments and Employees

departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee5, employee4])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [41]:
departmentsWithEmployeesSeq1 = [departmentWithEmployees1, departmentWithEmployees2]
df1 = spark.createDataFrame(departmentsWithEmployeesSeq1)

df1.show()

departmentsWithEmployeesSeq2 = [departmentWithEmployees3, departmentWithEmployees4]
df2 = spark.createDataFrame(departmentsWithEmployeesSeq2)

df2.show()

+--------------------+--------------------+
|          department|           employees|
+--------------------+--------------------+
|{123456, Computer...|[{michael, armbru...|
|{789012, Mechanic...|[{matei, null, no...|
+--------------------+--------------------+

+--------------------+--------------------+
|          department|           employees|
+--------------------+--------------------+
|{345678, Theater ...|[{michael, jackso...|
|{901234, Indoor R...|[{xiangrui, meng,...|
+--------------------+--------------------+

In [42]:
df2.select("department.name").show()

+-----------------+
|             name|
+-----------------+
|Theater and Drama|
|Indoor Recreation|
+-----------------+

In [44]:
unionDF = df1.union(df2)

unionDF.show()

+--------------------+--------------------+
|          department|           employees|
+--------------------+--------------------+
|{123456, Computer...|[{michael, armbru...|
|{789012, Mechanic...|[{matei, null, no...|
|{345678, Theater ...|[{michael, jackso...|
|{901234, Indoor R...|[{xiangrui, meng,...|
+--------------------+--------------------+